.RoomContainer{
    margin: 0;
    background: #111;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    overflow: hidden;
}

.Box{
    width: 500px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(deg) rotateY(0deg); /* Controla o "ângulo de visão" */
}

.Room{
    width: 500px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0px); /* Move o quarto para "dentro da cena" */
}